h1 {
  text-align: center;
}

.data-journal-intro  p {
  text-align: left;
}

.data-journal-data-overview {
  margin-top: 100px;
  p {
  text-align: left;
  }
}

div.hidden {
  display: none;
}
.panel h4 {
  text-align: center;
}
.panel p {
  text-align: center;
}

div.download-data {
  text-align: center;
  p {
  text-align: left;
  }
}

// Download and upload card css

div.icon-card {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  div.icon-file {
    display: flex;
    flex-direction: column;
    border: 1px solid $gray-lighter;
    border-radius: 5px;
    i {
    font-size: 90px;
    padding: 20px;
    }
    i.upload {
    text-align: center;
    }
  }
}

