.data-journal-intro  p {
  text-align: left;
}

.data-journal-data-overview  h2 {
  text-align: center;
}

.data-journal-data-overview  p {
  text-align: left;
}

.consent-td {
  display: flex;
  justify-content: space-around;
}
