.index-bg {
  background-color: $gray-lighter;
}

h1 {
  font-size: 48px;
  margin: 80px 0px 60px 0px;
}

.card {
  margin: 0px;
  padding: 1px;
  margin-bottom: 80px;
} i {
  letter-spacing: 5px;
} strong {
  margin-right: 15px;
}
