<footer class="footer">
  <ul class="footer-nav">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Terms of use", "TODO" %></li>
    <li><%= link_to "Data privacy", "TODO" %></li>
  </ul>
  <p>Pokémon Starter © 2016<p>
</footer>
