<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="footer-nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Terms of use", terms_path %></li>
          <li><%= link_to "Data privacy", dataprivacy_path %></li>
          <li>Pokémon Starter © 2016</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
