<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>PRIVACY POLICY</h1>
      <br>
      <p>----</p>
      <h2>COMPLIANCE WITH EU REGULATION</h2>
      <br>
      <p>Pokémon Starter is compliant with the General Data Protection Regulation (GDPR) (Regulation (EU) 2016/679)</p>
      <p>----</p>
      <br>
      <h2>SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</h2>
      <br>
      <p>When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address.</p>
      <br>
      <p>When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.</p>
      <br>
      <p>Email marketing (if applicable): With your permission, we may send you emails about our store, new products and other updates.</p>
      <br>
      <br>
      <h2>SECTION 2 - CONSENT</h2>
      <br>
      <br>
      <p>How do you get my consent?</p>
      <br>
      <p>When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.</p>
      <br>
      <p>If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.</p>
      <br>
      <br>
      <p>How do I withdraw my consent?</p>
      <br>
      <p>If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at avdbranden@gmail.com or mailing us at: Pokémon Starter Sample, Sample, AL, 1301, United States</p>
      <br>
      <br>
      <h2>SECTION 3 - DISCLOSURE</h2>
      <br>
      <p>We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.</p>
      <br>
      <br>
      <h2>SECTION 4 - THIRD-PARTY SERVICES</h2>
      <br>
      <br>
      <p>In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.</p>
      <br>
      <p>However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.</p>
      <br>
      <p>For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.</p>
      <br>
      <p>In particular, remember that certain providers may be located in or have facilities that are located in a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.</p>
      <br>
      <p>As an example, if you are located in Canada and your transaction is processed by a payment gateway located in the United States, then your personal information used in completing that transaction may be subject to disclosure under United States legislation, including the Patriot Act.</p>
      <br>
      <p>Once you leave our store’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.</p>
      <br>
      <br>
      <h2>SECTION 5 - SECURITY</h2>
      <br>
      <p>To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.</p>
      <br>
      <p>If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption.  Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards.</p>
      <br>
      <br>
      <h2>QUESTIONS AND CONTACT INFORMATION</h2>
      <br>
      <p>If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact our Privacy Compliance Officer at avdbranden@gmail.com or by mail at Pokémon Starter</p>
      <br>
      <h4>Pokémon Starter, Co.station, Place Ste Gudule 5, Brussels, Belgium</h4>
      <br>
      <br>
    </div>
  </div>
</div>
