<div class="banner text-center banner-first">
    <div class="container banner-content">
      <h1>Rate your favourite starter Pokémon</h1>
      <h2>Show the trainer that is in you!</h2>
      <%= link_to "Start now!", pokemons_path, class: "btn btn-primary btn-lg" %>
    </div>
</div>
