.footer {
  padding: 25px 35px 20px;
  border-top: 1px solid #ddd;
  margin-bottom: 15px;
  list-style: none;
  li {
    margin-top: auto;
    padding-right: 40px;
    font-size: 18px;
    display: inline-block;
  }
  li:last-child {
    margin-top: auto;
    margin-left: 420px;
    font-size: 20px;
  }
}
